table{
/* border-spacing: 10px;  */
/* border-spacing: 20px; */
margin-left: 0px;
margin-top: 1rem;
width: 100%;
    
}
.thcontainer{
    background-color: rgba(255, 255, 255, 0.251);
color: white;
border-radius: 5px;
}
th{
    padding: 0 0.7rem;
}